.App{
  background-image: url(./assets/bg.svg);
  background-size: cover;
  background-attachment: fixed;

}

.fg{
  width: 100vw;
  height: auto;
}

.h1{
  margin: 0%;
  font-size: 3rem;
  text-align: center;
  font-style: italic;
  font-weight: bold ;
}

.content{
  padding: 0rem 6rem 2rem 6rem;
  font-size: 1.2rem;


}

.h2{
  margin: 0%;
  padding-top: 1rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600 ;
}

.text1{
  margin: 0%;
  padding-top: 0.4rem;
  padding-bottom: 1.2rem;
}

.text2{
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500 ;
}

.ol li{
  padding-bottom: 1rem ;
}